
.cartas {
    position: relative;
    display: flex;
    margin: 0;
}
.card1, .card2, .card3 {
    width: 280px;
    height: 350px;
    background-color: #111720;
    border-radius: 15px;
    transition: .5s;
    margin: 20px;
    color: white;
    box-shadow: 0 0 20px black;
}
.contenedorIMG1 {
    position: relative;
    width: 100%;
    height: 160px;
}
.contenedorIMG2 {
    position: relative;
    width: 100%;
    height: 160px;
}
.contenedorIMG3 {
    position: relative;
    width: 100%;
    height: 160px;
}

.appImg1, .appImg2, .appImg3   {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;

}




.botonDescarga {
    margin: 5px 0;
    box-shadow: 0 0 2px white;
    border-radius: 100px;
    padding: 10px 20px;
}

.botonDescarga:hover {
    cursor: pointer;
    background-color: #741FF5;
}






.contenedorINFO {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 20px;
}

.card1:hover, .card2:hover, .card3:hover {
    box-shadow: none;
    transform: scale(1.1);
}

.contenidoTrasero {
    position: absolute;
    background-color: brown;
}   


@media (max-width: 500px)  {
    .cartas {
        flex-direction: column;
    }
}