.texto-degradado {
    background: linear-gradient(45deg,#3E00FA, #C601CC );
    -webkit-background-clip: text;
    color: transparent;
}

.icono-degradado {
    background: linear-gradient(#3E00FA, #C601CC, rgb(65, 49, 85) );
    -webkit-background-clip: text;
    color: transparent;
}

.texto-degradado-celeste {
    background: linear-gradient(45deg, #005791, rgb(135, 0, 153), gray );
    -webkit-background-clip: text;
    color: transparent;
}

