.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0;
}

.hero-seccion1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    z-index: 10;
    margin-bottom: 50px;
    & h1 {margin: 0; font-size: 4rem;}
}

.parrafo {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
}

.boton1 {
    display: flex;
    margin: 25px auto 0;
    & a {
        background: linear-gradient(45deg, #3E01D8,#9701D0,#E800EB);
        padding: 15px 50px;
        border-radius: 100px;
        font-weight: 900;
    }
}

.boton2 {
    & img {
        margin-top: 20px;
        width: 300px;
        height: 80px;
        border-radius: 10px;
    }
}

.hero-seccion2 {
    max-width: 600px;
    display: flex;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    justify-content: center;
    
}


@media (max-width: 900px)  {
    .hero {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero section { /*Configuracion global de las secciones del hero*/
        margin: 10px auto 0;
    }
    .hero section:first-child {
        text-align: center;
        align-items: center;
        
    }
    .hero section:nth-child(2) {
        width: 100vw;
    }
}
@media (max-width: 500px) 
{
    .contenedor {
        width: 100vw;
    }
    .contenedor section h2 {
        font-size: 2rem;
        margin: 0 auto;
    }
    .hero {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero section:first-child {
        
        height: 100vh;
        width: 100vw;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        & h1 {font-size: 3rem;}
    }

    .hero section:nth-child(2) {
        width: 100vw;
    }

}
