.hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
}

.hero-seccion1 {
    position: relative;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    width: 600px;
    z-index: 10;
    & h1 {font-size: 4rem; margin:0; font-weight: 700;}
}

.parrafo {
    width: 100%;
    font-weight: 400;
    font-size: 24px;
}

.boton1 {
    display: flex;
    & a {
        background: linear-gradient(45deg, #3E01D8,#9701D0,#E800EB);
        padding: 15px 50px;
        border-radius: 100px;
        font-weight: 900;
    }
}

.boton2 {
    & img {
        margin-top: 20px;
        width: 300px;
        height: 80px;
        border-radius: 10px;
    }
}

.hero-seccion2 {
    max-width: 600px;
    align-items: center;
    width: 800px;
    display: flex;
    
}


.cartas {
    position: relative;
    display: flex;
    margin: 0 auto;
}
.card1, .card2, .card3 {
    border-radius: 20px;
    width: 280px;
    height: 350px;
    background-color: #1B1A28;
    transition: .5s;
}
.card1 {
    box-shadow: 0 0 25px yellow;
}

.card2 {
    box-shadow: 0 0 40px #53ba62;

}
.card3 {
    box-shadow: 0 0 25px cyan;
    
}
.contenedorIMG1 {
    position: relative;
    width: 100%;
    height: 160px;
}
.contenedorIMG2 {
    position: relative;
    width: 100%;
    height: 160px;
}
.contenedorIMG3 {
    position: relative;
    width: 100%;
    height: 160px;
}

.appImg1 {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}
.appImg2 {
    border-radius: 20px 20px 0 0;

    width: 100%;
    height: 100%;
}
.appImg3 {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}





.botonDescarga {
    margin: 5px 0;
    box-shadow: 0 0 1px white;
    border-radius: 100px;
    padding: 10px 20px;
}

.botonDescarga:hover {
    cursor: pointer;
    background-color: #741FF5;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    font-size: 1.2em;
}


.contenedorINFO {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 20px;
}

.card1:hover, .card2:hover, .card3:hover {
    box-shadow: none;
    transform: scale(1.1);
}

@media (max-width: 900px)  {
    .hero {
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .hero section { /*Configuracion global de las secciones del hero*/
        margin: 10px auto 0;
    }
    .hero section:first-child {
        text-align: center;
        align-items: center;
        
    }
    .hero section:nth-child(2) {
        width: 100vw;
    }
}
@media (max-width: 500px) 
{
    .contenedor {
        width: 100vw;
    }
    .contenedor section h2 {
        font-size: 2rem;
        margin: 0 auto;
    }
    .hero {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .hero section:first-child {
        
        height: 100vh;
        width: 100vw;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        & h1 {font-size: 3rem;}
    }

    .hero section:nth-child(2) {
        width: 100vw;
    }
    .cartas {

    }
    .card1, .card2, .card3 {

    }

    .contenedor {
    }

}
