
* {box-sizing: border-box;}
body {
    background-color: #0F051D;
    margin: 0;
    color:white;
    font-family: MabryPro-Medium, Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

a {text-decoration: none; color: white; font-weight: 900;}
li {list-style: none;}
img {display: block;}
p {font-size: large;}

.contenedor { max-width: 1200px; margin: 0 auto; position: relative;}
/*ESTILAMOS LA SECCION DE APLICACIONES DE TENDENCIA*/
.titulo-aplicaciones-tendencia {
    color: white;   
    text-align: center;
    font-size: 3.5rem;
}
.aplicaciones-tendencia {
}
.contenedor-aplicaciones-tendencia {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.ver-aplicaciones {
    box-shadow: 0 0 1px white;
    border-radius: 100px;
    padding: 20px;    
    width: 270px;
    text-align: center;
    margin: 100px auto;
    display: block;
    background: linear-gradient(20deg, #4001D8, #EA00EB);
}

/*ESTILAMOS LA SECCION DE JUSTIFICACION, EL PORQUE USAR FYRECHANGER*/
.Justificacion {
}
.Justificacion h2 {
    font-size: 3.5rem;
    text-align: center;
}
.Justificacion section {
    background-color: #EA00EB;
}



























body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}