
* {box-sizing: border-box;}
body {
    background-color: #0F051D;
    margin: 0;
    color:white;
    font-family: MabryPro-Medium, Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

a {text-decoration: none; color: white; font-weight: 900;}
li {list-style: none;}
img {display: block;}
p {font-size: large;}

.contenedor { max-width: 1200px; margin: 0 auto; position: relative; overflow: hidden;}
/*ESTILAMOS LA SECCION DE APLICACIONES DE TENDENCIA*/

.aplicaciones-tendencia {
}
.contenedor-aplicaciones-tendencia {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.ver-aplicaciones {
    box-shadow: 0 0 1px white;
    border-radius: 100px;
    padding: 20px;    
    width: 270px;
    text-align: center;
    margin: 100px auto;
    display: block;
    background: linear-gradient(20deg, #4001D8, #EA00EB);
}

/*ESTILAMOS LA SECCION DE JUSTIFICACION, EL PORQUE USAR FYRECHANGER*/

.contenedor .Justificacion h2:first-child {
    font-size: 3.5rem;
    text-align: center;
}
.Justificacion {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.Justificacion-seccion { /*Estilos globale para las secciones de esta parte*/
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: space-between;
}

.cuadro-1, .cuadro-2, .cuadro-3 {
    height: 80%;
    min-width: 300px;
    margin: 0 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    border-radius: 20px;
    & p {margin: 20px;}
    
}
.cuadro-1 {
    align-self: flex-start;
    & i {font-size: 3rem; margin: 20px;}
}
.cuadro-2 {
    align-self: center;
    & i {font-size: 3rem; margin: 20px;}

}

.cuadro-3 {
    align-self: self-end;
    & i {font-size: 3rem; margin: 20px;}

}


body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}


footer {
    background-color: #120524;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 200px;
}
footer ul li i {
   font-size: 3rem;
}

/*MEDIA QUERIES*/
@media (max-width: 500px) {
    .Justificacion-seccion {
        flex-direction: column;
        & .cuadro-1, .cuadro-2, .cuadro-3{ margin: 20px;}
    }
}
    