
* {box-sizing: border-box; }
body {
    background-color: white;
    margin: 0;
    color:black;
    font-family: MabryPro-Medium, Verdana, Geneva, Tahoma, sans-serif;
}

a {text-decoration: none; color: white; font-weight: 900;}
li {list-style: none;}
img {display: block;}
p {font-size: large;}

.contenedor { max-width: 1200px; margin: 0 auto; position: relative; overflow: hidden;}
/*ESTILAMOS LA SECCION DE APLICACIONES DE TENDENCIA*/

.aplicaciones-tendencia {
    background-color: #0099FF;
    margin: 0;
}
.contenedor-aplicaciones-tendencia {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}
.ver-aplicaciones {
    box-shadow: 0 0 1px white;
    border-radius: 100px;
    padding: 20px;    
    width: 270px;
    text-align: center;
    margin: 100px auto 0;
    display: block;
    background: linear-gradient(20deg, #4001D8, #EA00EB);
}

/*ESTILAMOS LA SECCION DE JUSTIFICACION, EL PORQUE USAR FYRECHANGER*/

.contenedor .Justificacion h2:first-child {
    font-size: 3.5rem;
    text-align: center;
}
svg {
    display: block;
    margin: 0; 
    border: 0;   
    box-shadow: 0;
}


.divicion, .divicionTerminada {
    overflow: hidden;
    background-color: white;
}

.aplicaciones-tendencia h2 { 
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
    padding-bottom: 100px;
}
.Justificacion {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.Justificacion-seccion { /*Estilos globale para las secciones de esta parte*/
    position: relative;
    display: flex;
    width: 100%;
    height: 800px;
    justify-content: space-between;
}

    
.cuadro-1, .cuadro-2, .cuadro-3 {
    display: flex;
    flex-direction: column;
    height: 500px;
    margin: 15px 20px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    color: black;
    & p{margin: 15px;}
    & i {font-size: 4rem; margin: 40px auto;}
}
.cuadro-1 {
    align-self: flex-start;
}
.cuadro-2 {

    align-self: center;

}

.cuadro-3 {

    align-self: self-end;
    

}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    margin: 50px 0 0 0;
    align-items: center;
    font-weight: 900;
    text-align: center;
    & p {
        font-size: 1rem;
    }
}
.footer-iconos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    & i {color: black; font-size: 1.4rem;}
}
.footer-texto {
    display: flex;
    flex-direction: row;
    gap: 20px;
    & a {
        color: black;
    }
    
}


body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: rgb(61, 61, 61);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: rgb(75, 75, 75);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
}


/*MEDIA QUERIES*/
@media (max-width: 800px) {
    .Justificacion-seccion {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .cuadro-1, .cuadro-2, .cuadro-3 {
        text-align: center;
    }
    .contenedor .Justificacion h2:first-child {
        font-size: 2rem;
        text-align: center;
    }
}

