header {
    max-width: 1600px;
}


#contenedor {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
}
.barra-izquierda {
    width: 250px;
    margin: 0 20px 0 0;
}
.productos {
    background-color: #969696;
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.contenedorProducto {
    position: relative;
    display: flex;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    background-color: white;
    width: 240px;
    max-width: 300px;
    height: auto;
    min-height: 300px;
    position: relative;
    flex-direction: column;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: black; /*3f75ff;*/
    text-decoration: none;
    margin: 5px auto;
}
.imagenProducto {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0;
}
.nombreProducto {
    margin: 2px;
}
.juegoProducto {
    margin: 2px;

}
.descripcionProducto {
    margin: 5px 10px;

}
.precioProducto {
    margin: 2px;

}
.botonProducto {
    background-color: #298DFD;
    padding: 20px;
    border-radius: 15px;
    margin: 5px;
    color: white;
    text-decoration: none;
    font-weight: 900;

}
 
input {
    border-radius: 20px;
    border: 1px solid #298DFD;
    width: auto;
    padding: 10px;
    outline: none;
    transition: .5s;
}

.contenedorNombre_precio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.contenedor-busqueda {
    position: relative;
    display: flex;
    align-items: center;
}

.barra-busqueda {
    padding: 10px 40px 10px 10px; /* Espacio para el ícono */
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.fa-magnifying-glass {
    position: absolute;
    right: 10px;  /* Posición del ícono dentro del input */
    color: #888;
    pointer-events: none; /* Para que el icono no interfiera con el clic en el input */
}


input:focus {
    width: 300px;
    
}
